<div class="headerTitle">
    <h1>Welcome</h1>
</div>
<h3 class="pageCaption">Where would you like to go?</h3>

<div class="row">
    <div class="col-sm-4">
        <div class="card" (click)="goToProfile()">
            <h3 class="card-title">Profile</h3>
            <hr>
            <fa name="user" size="5x"></fa>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" (click)="goToPitch()">
            <h3 class="card-title">Pitch Tool</h3>
            <hr>
            <fa name="share-square" size="5x"></fa>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" (click)="goToTechTerms()">
            <h3 class="card-title">Tech Terms</h3>
            <hr>
            <fa name="book" size="5x"></fa>
        </div>
    </div>
</div>