<div class="backButton">
  <fa name="arrow-left" size="3x" style="color:blue" (click)="goBack()"></fa>
  <div>Go Back</div>
</div>

<div class="techContainer">
  <h1>{{tech?.name}}</h1>
  <h6>{{tech?.category}}</h6>
  <h5>{{tech?.description}}</h5>
  <span>     
      <div class="trainLogo">
        <h4 *ngIf="tech?.trainable">Trainable</h4>
        <h4 *ngIf="!tech?.trainable">Not Trainable</h4>
        <fa *ngIf="tech?.trainable"  name="check-circle" size="5x" style="color:green"></fa>
        <fa *ngIf="!tech?.trainable" name="times-circle" size="5x" style="color:red"></fa>
        <div>
            <h5>Training Locations:</h5>
            <ul>
             <li>
               <h6 *ngIf="tech?.training.internal == 'n/a'">In House</h6>
             </li>
             <li>
               <a *ngIf="tech?.training.pluralsight != 'n/a'" [href]="tech?.training.pluralsight">Pluralsight</a>
             </li> 
              <li>
               <a *ngIf="tech?.training.linkedin !== 'n/a'" [href]="tech?.training.linkedin">LinkedIn Learning</a>
             </li> 
            </ul>
          </div>
      </div>     
  </span>
  <img [src]="tech?.logoUrl" width="20%" heigh="20%">  
</div>