.signLinks{
    text-align: right;
}

.navbar-brand{
    margin-bottom: 10px;
}

.navbar-nav ml-auto flex-nowrap{
    margin-right: 20px;
}

.nav-item:hover{
   background-color: rgb(44, 122, 211);
}

.nav-item{
    display:block;
    float:right;
}