<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="#">FDM</a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" routerLink="/pitch">Pitch </a>
        <a  class="nav-item nav-link active" routerLink="/profile">Profile </a>
        <div class="navbar-nav nav-right">
          <a class="nav-item nav-link active" routerLink="/signin">Sign In </a>         
        </div>
      </div>
    </div>
  </nav>