.displayTable{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    width: auto;
}

.authBlock{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}