
.title{
    background-color: black;
    border: 1px solid #000;
}

.card{
    width: 20rem;
    color: black;
    border-style: solid; 
    background-color: lightgrey; 
    border-width: 1px;   
    border-color: black;
}

.card-header{
    background-color: black;
    text-align: center;
}

.card:hover {
    background-color: lightblue;
    cursor: pointer;    
    color: black;
}
           
            

.techItem{
    margin-left:5%;
    margin-right: 5%;
}

.techDescription{
    margin-top:10px;
    margin-left:5px;
    margin-right:5px;
    text-align: center;
}

.trainable{
    display:block;
    text-align: center;
}

.trainableIcon{
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
}



        
